.main-container{
    text-align: center;
    padding: 50px 70px;
    .experience-heading{
        font-family: gotham rounded,sans-serif;
        margin-bottom: 15px;
    }
    .experience-main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        .column1{
            width: 200px;
            height: 200px;
            max-width: 50%;
        }
        .column2{
            max-width: 50%;
            display: flex;
            flex-direction: column;
            text-align: left;

            .company-name{
                font-family: gotham rounded,sans-serif;
                margin-bottom: 15px;
                font-size: 24px;
                color: darkblue;
            }

            .role{
                font-size: 18px;
                color: green;
                font-weight: 700;
                padding-bottom: 10px;
            }

            .location{
                font-size: 18px;
                font-weight: 700;
                padding-bottom: 10px;
            }
            .description{
                color: dimgray;
            }
        }
    }

}
